{% extends "base.html" %}
{% load static %}
{% block title %}Tienda Online{% endblock %}

{% block content %}
    <h1>Lista de productos {% if categoria %} - {{ categoria }}{% endif %} </h1>
    
    <div class="row mb-4 d-flex">
        {% for producto in productos %}
            <div class="col-md-3 mb-4">
                <div class="card h-100 aspect-ratio-1x1">
                    <img src="{% static 'images/'|add:producto.image %}" alt="{{ producto.title }}" style="height: 80%; width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.title }}</h5>
                        <p class="card-text d-inline">Precio: {{ producto.price }}€</p>
                        <div class="d-flex justify-content-between">
                            <span class="sp" data-product-id="{{producto.id}}">Estrellas</span>
                            <a href="#" class="my-btn btn float-end" data-bs-toggle="modal" data-bs-target="#descripcionModal{{ forloop.counter }}">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal modal-fade" id="descripcionModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="descripcionModalLabel{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content border-0 rounded-3 shadow-lg">
                        <div class="modal-header border-0 p-4">
                            <h5 class="modal-title text-center fs-3" id="descripcionModalLabel{{ forloop.counter }}">Descripción de {{ producto.title }}</h5>
                            <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body p-4">
                            {{ producto.description }}
                        </div>
                        <div class="modal-footer border-0 p-4">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
